.App {
    padding-top: 10%;
    padding-right: 2%;
}
.App p {
    color: white;
    font-family: 'FreeMono';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-align: center;
}
.App input {
    width: 300px;
    height: 30px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
    padding-left: 5px;
    font-family: 'FreeMono';
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-left: 33%;
}
.App button {
    height: 36px;
    background: transparent;
    border: 2px solid white;
    margin-left: 2px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'FreeMono';
    width: 150px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s;
}
.App button:hover {
    background: white;
    color: black;
}